<h1>Admin</h1>

<div class="alert alert-warning">
  Preview of page <strong><%= @page.title %></strong>
  at <%= 'latest' if @page.latest_revision.version == @phase_revision&.version %>
  version <strong><%= @phase_revision&.version %></strong>
  <% if @phase_revision %>
    last updated at <strong><%= l @phase_revision.updated_at, format: '%F %T' %></strong>.
  <% end %>
  <%= link_to 'Synchonize', sync_one_admin_page_path(@page), class: 'btn btn-info btn-sm float-right', method: :put %>
  <%= link_to 'Go back', admin_pages_path, class: 'btn alert-link btn-sm float-right' %>
</div>

<% if @phase.present? %>
  <% @project = @phase_revision %>
  <%= render file: 'phase_revision/show' %>
<% else %>
  <% @page = @phase_revision %>
  <%= render file: 'static/page' %>
<% end %>
