<h1>Admin</h1>

<div class="d-flex flex-row flex-wrap">
  <div class="mr-3">
    <h6>Actions</h6>
    <div class="form-group">
      <%= link_to 'Back to pages', admin_pages_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
  <div class="mr-3">
    <h6>Flags</h6>
    <div class="d-flex flex-row flex-wrap mb-3">
      <ul class="list-unstyled mr-3 mb-0">
        <li><span class="badge badge-success">published</span> &ndash; revision is published and latest</li>
        <li><span class="badge badge-info">preview</span> &ndash; revision has a preview</li>
        <li><span class="badge badge-info">latest</span> &ndash; revision is the latest</li>
      </ul>
      <ul class="list-unstyled mr-3 mb-0">
        <li><span class="badge badge-danger">published</span> &ndash; revision is published but not latest</li>
        <li><span class="badge badge-danger">preview</span> &ndash; revision has no preview (parser failure)</li>
      </ul>
    </div>
  </div>
</div>

<h4>
  <%= @page.title %>
</h4>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Version</th>
      <th>Title</th>
      <th>Flags</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @revisions.each do |revision| %>
      <tr id="<%= dom_id revision %>">
        <td><%= revision.version %></td>
        <td class="w-50"><%= revision.title %></td>
        <td>
          <% if @page.publishable? %>
            <% if revision.published? %>
              <% if @page.synced? %>
                <span class="badge badge-success">published</span>
              <% else %>
                <span class="badge badge-danger">published</span>
              <% end %>
            <% end %>
            <% if revision_preview?(revision) %>
              <span class="badge badge-info">preview</span>
            <% else %>
              <span class="badge badge-danger">preview</span>
            <% end %>
          <% end %>
          <% if revision.latest? %>
            <span class="badge badge-info">latest</span>
          <% end %>
        </td>
        <td><%= l revision.updated_at, format: '%F %T' %></td>
        <td>
          <% if @page.publishable? %>
            <% if revision.published? %>
              <%= link_to 'Unpublish', unpublish_admin_page_path(@page), class: 'btn btn-secondary btn-sm', method: :patch %>
            <% else %>
              <%= link_to 'Publish', publish_admin_page_path(@page, version: revision.version), class: 'btn btn-primary btn-sm', method: :patch %>
            <% end %>
            <% if revision_preview?(revision) %>
              <%= link_to 'Preview', preview_admin_page_path(@page, version: revision.version), class: 'btn btn-link btn-sm' if page_preview?(@page) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @revisions, views_prefix: 'admin' %>
