<div id="projects-index" class="container pt-5">
  <h1 class="mt-5 mb-3">Zoznam hodnotených projektov</h1>
  <p class="lead"><strong>Chýba Vám tu nejaký projekt? Nezdá sa Vám hodnotenie?</strong> Toto hodnotenie je možné <%= link_to 'dopĺňať a upravovať', contribute_path %>.</p>


  <%= form_tag projects_path, method: :get do %>
    <div class="form-row">
      <div class="form-group mb-2 col-sm-4">
        <%= select_tag :tag, options_for_select([["Zobraziť všetko", ""]] + ProjectsHelper::ALLOWED_TAGS.map{ |tag, trans| [trans, tag] }, @selected_tag), class: "form-control" %>
      </div>
      <%= submit_tag "Filtrovať", class: "btn mb-2" %>
    </div>
  <% end %>
  <table class="table">
    <thead>
    <tr style="background-color: #f4f4f4">
      <th>Projekt</th>
      <th colspan="5" class="text-center">Hodnotenia podľa kritérií</th>
      <th class="text-center tag-tooltip" title="Celkové hodnotenie">&sum;</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td style="width: 12rem;">
          <%= link_to truncate(project.title, length: 80), project_path(project.project), title: project.title %>
          <% if project.stage %>
            <div class="mt-1">
              <span class="badge badge-secondary" title="Prebiehajúca fáza"><%= project.stage %></span>
            </div>
          <% end %>
        </td>
        <% ratings = project.ratings.group_by(&:score) %>
        <% 4.downto(0).each do |index| rt = ratings[index] %>
          <td class="text-center">
            <% if rt %>
              <strong class = "tag-tooltip" title="<%= rt.map{|r| r.rating_type.name}.join(", ") %>">
                <%= rt.count %> &times; <%= rating_stars(rt.first) %>
              </strong>
            <% end %>
          </td>
        <% end %>
        <td style="background-color: #f4f4f4; width: 5em" class="text-center">
          <% if project.redflags_count > 0 %>
            <strong class="text-danger"><%= project.redflags_count %> &times; <%= fa_icon('flag', class: 'text-danger') %></strong>
          <% else %>
            <strong>
            <%= number_to_percentage(project.total_score_percentage, precision: 0) %>
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
