<div id="projects-index" class="container pt-5">
  <h1 class="mt-5 mb-3">Zoznam hodnotených projektov</h1>
  <p class="lead"><strong>Chýba Vám tu nejaký projekt? Nezdá sa Vám hodnotenie?</strong> Toto hodnotenie je možné <%= link_to 'dopĺňať a upravovať', contribute_path %>.</p>

  <ul class="nav nav-pills mb-3 mt-5" style="margin-left: 12rem" id="phases-switcher" role="tablist">
    <% @rating_types_by_phase.each do |phase, rating_types| %>
      <li class="nav-item">
        <a class="nav-link <%= "active" if phase.id == 1 %>" href="#" data-toggle="pill" data-target-phase-id="<%= phase.id %>">
          <%= phase.name %>
          <% if phase.id !=1 %><span class="badge badge-success">Nové</span><% end %>
        </a>
      </li>
    <% end %>
  </ul>

  <table class="table">
    <thead>
    <tr>
      <th class="text-right">Fáza</th>
      <% @rating_types_by_phase.each do |phase, rating_types| %>
        <th class="text-center hideable <%= "d-none" if phase.id != 1 %>" data-phase-id="<%= phase.id %>" style="background-color: #efefef;" colspan="<%= rating_types.count %>"><%= phase.name %></th>
      <% end %>
      <th class="text-center">&sum;</th>
    </tr>
    <tr>
      <th>Projekt</th>
      <% @rating_types_by_phase.each do |phase, rating_types| %>
        <% rating_types.each do |rating_type| %>
          <th class="hideable <%= "d-none" if phase.id != 1 %>" data-phase-id="<%= phase.id %>">
          <div class="text-sideways"><%= rating_type.name %></div>
          </th>
        <% end %>
      <% end %>

      <th>
        <div class="text-sideways"><strong>Celkové hodnotenie</strong></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td style="width: 12rem;">
          <%= link_to truncate(project.title, length: 80), project_path(project.project), title: project.title %>
          <% if project.stage %>
            <div class="mt-1">
              <span class="badge badge-secondary" title="Prebiehajúca fáza"><%= project.stage %></span>
            </div>
          <% end %>
        </td>
        <% ratings_by_type = project.ratings.index_by(&:rating_type) %>
        <% @rating_types_by_phase.each do |phase, rating_types| %>
          <% rating_types.each do |rating_type| %>
            <% rating = ratings_by_type[rating_type] %>
            <td class="text-center hideable <%= "d-none" if phase.id != 1 %>" data-phase-id="<%= phase.id %>"><small><%= rating_stars(rating) %></small></td>
          <% end %>
        <% end %>
        <td style="background-color: #f2f2f2; width: 5em">
          <% if project.redflags_count > 0 %>
            <strong class="text-danger"><%= project.redflags_count %> &times; <%= fa_icon('flag', class: 'text-danger') %></strong>
          <% else %>
            <strong>
            <%= number_to_percentage(project.total_score_percentage, precision: 0) %>
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
