<div id="projects-index" class="container pt-5">
  <h1 class="mt-5 mb-3">Zoznam hodnotených projektov</h1>
  <p class="lead"><strong>Chýba Vám tu nejaký projekt? Nezdá sa Vám hodnotenie?</strong> Toto hodnotenie je možné <%= link_to 'dopĺňať a upravovať', contribute_path %>.</p>

  <div class="sort-selector text-right mb-4">
    <%= form_with url: projects_path, method: :get, local: true, id: "sort-form" do |form| %>
      <% form.label :sort %>
      <%= form.select :sort, options_for_select([
                                                  ['Usporiadať', '', {disabled: true, selected: true}],
                                                  ['Abecedne (A-Z)', 'alpha'],
                                                  ['Abecedne (Z-A)', 'alpha_reverse'],
                                                  ['Podľa dátumu (najnovšie)', 'newest'],
                                                  ['Podľa dátumu (najstaršie)', 'oldest'],
                                                  ['Hodnotenie prípravy (vzostupne)', 'preparation_lowest'],
                                                  ['Hodnotenie prípravy (zostupne)', 'preparation_highest'],
                                                  ['Hodnotenie produktu (vzostupne)', 'product_lowest'],
                                                  ['Hodnotenie produktu (zostupne)', 'product_highest'],
                                                ], params[:sort]), {}, { class: 'bg-primary px-4 py-2 rounded border-0 text-white', onchange: "this.form.submit();" } %>
    <% end %>
  </div>

  <table class="table">
    <thead>
    <tr style="background-color: #f4f4f4">
      <th colspan="4">Projekt</th>
      <th colspan="2" class="text-center">Hodnotenie prípravy</th>
      <th colspan="2" class="text-center">Hodnotenie produktu</th>
      <th colspan="2" class="text-center">Posledná aktualizácia</th>
      <th colspan="2" class="text-center tag-tooltip" title="Rozbalťe pre detailné hodnotenia jednotlivých fáz">Detail</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td style="width: 12rem;" colspan="4">
          <% if project.has_published_phases? %>
            <%= project.phases.select { |phase| phase.published_revision.present? }.map { |phase| phase.published_revision.title }.first %>
          <% end %>
        </td>

        <% prep_revision = project.phases.select { |phase| phase.phase_type.name == 'Prípravná fáza' && phase.published_revision.present? }.first %>
        <% prep_revision = prep_revision&.published_revision %>
        <% prep_page = prep_revision&.revision&.page %>
        <td class="align-middle text-center" colspan="2">
          <% if prep_page.nil? %>
          -
          <% elsif prep_revision.redflags_count > 0 %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <strong class="text-danger">
                <%= prep_revision.redflags_count %> &times; <%= fa_icon('flag', class: 'text-danger') %>
              </strong>
              <% if prep_page.latest_revision %>
                <%= link_to 'Zobraziť', project_show_revision_type_path(project.id, 'hodnotenie-pripravy') %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <strong>
                <%= number_to_percentage(prep_revision.total_score_percentage, precision: 0) %>
              </strong>
              <% if prep_page.latest_revision %>
                <%= link_to 'Zobraziť', project_show_revision_type_path(project.id, 'hodnotenie-pripravy') %>
              <% end %>
            </div>
          <% end %>
        </td>

        <% prod_revision = project.phases.select { |phase| phase.phase_type.name == 'Fáza produkt' && phase.published_revision.present? }.first %>
        <% prod_revision = prod_revision&.published_revision %>
        <% prod_page = prod_revision&.revision&.page%>
        <td class="align-middle text-center" colspan="2">
          <% if prod_page.nil? %>
          -
          <% elsif prod_revision&.redflags_count > 0 %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <strong class="text-danger">
                <%= prod_revision.redflags_count %> &times; <%= fa_icon('flag', class: 'text-danger') %>
              </strong>
              <% if prod_page.latest_revision %>
                <%= link_to 'Zobraziť', project_show_revision_type_path(project.id, 'hodnotenie-produktu') %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <strong>
                <%= number_to_percentage(prod_revision.total_score_percentage, precision: 0) %>
              </strong>
              <% if prod_page.latest_revision %>
                <%= link_to 'Zobraziť', project_show_revision_type_path(project.id, 'hodnotenie-produktu') %>
              <% end %>
            </div>
          <% end %>
        </td>

        <td class="align-middle text-center" colspan="2">
          <% latest_revision_date = project.phases.map { |phase| phase.published_revision&.published_at }.compact.max %>
          <%= latest_revision_date.strftime('%d.%m.%Y') if latest_revision_date.present? %>
        </td>

        <td class="align-middle text-center" colspan="2">
          <button class="btn btn-link p-0" data-toggle="collapse" data-target="#collapse-<%= project.id %>" aria-expanded="false" aria-controls="collapse-<%= project.id %>">
            <span class="collapsed h3 text-dark">+</span>
            <span class="expanded h3 text-dark d-none">-</span>
          </button>
        </td>
      </tr>
      <tr class="hidden">
        <td colspan="12" class="p-0">
          <div class="collapse p-0" id="collapse-<%= project.id %>">
            <table class="table m-0">
              <thead>
              <tr style="background-color: #f4f4f4">
                <th colspan="4">Fáza</th>
                <th colspan="8" class="text-center">Hodnotenie podľa kriterií</th>
              </tr>
              </thead>
              <tbody>
              <% project.phases.select { |phase| phase.published_revision.present? }.sort_by { |phase| phase.phase_type }.each do |phase| %>
                <tr class="p-0">
                  <td colspan="4"><%= link_to phase.phase_type_label, project_show_revision_type_path(project.id, PhaseRevision.map_phase_type_to_route(phase.phase_type.name)) %></td>
                  <% ratings = phase.published_revision&.ratings&.group_by(&:score) %>
                  <% 4.downto(0).each do |index| rt = ratings[index] %>
                    <td class="align-middle text-center">
                      <% if rt %>
                        <strong class = "tag-tooltip" title="<%= rt.map{|r| r.rating_type.name}.join(", ") %>">
                          <%= rt.count %> &times; <%= rating_stars(rt.first) %>
                        </strong>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
