<% content_for(:title) do %><%= @project.title %> &middot; Red Flags &middot; Slovensko.Digital<% end %>
<div id="project-show" class="container main">

  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="project-title"><%= @project.title %></h1>
      <% if translate_tags(@project.tags).present? %>
        <div class="row mb-5">
          <div class="col-md-12">
            <h2>
              <% translate_tags(@project.tags).each do |tag| %>
                <span class="badge badge-info"><%= tag %></span>
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>
      <p class="lead text-muted mt-4"><%= @project.description %></p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6">
      <h5>Náklady na projekt</h5>
      <p><%= @project.budget %></p>
    </div>

    <div class="col-md-6">
      <h5>Garant <%= help_icon_if_blank(@project.guarantor) %></h5>
      <p><%= @project.guarantor %></p>
    </div>
  </div>

  <% if @project.summary.present? %>
    <div class="row mb-3">
      <div class="col">
        <h5>Zhrnutie hodnotenia Red Flags</h5>
        <p class="mb-4"><%= @project.summary %></p>
      </div>
    </div>
  <% end %>

  <% if @project.recommendation.present? %>
    <div class="card mb-4 text-white <%= @project.redflags_count.zero? ? 'bg-secondary' : 'bg-danger' %>">
      <div class="card-body">
        <h5 class="card-title">Stanovisko Slovensko.Digital</h5>
        <p class="card-text"><%= @project.recommendation %></p>
      </div>
    </div>
  <% end %>

  <div class="row mb-4 mt-5 pt-4">
    <div class="col">
      <h5>Aktuálny stav projektu</h5>
      <p><%= @project.stage %></p>
    </div>
    <div class="col">
      <h5>Čo sa práve deje</h5>
      <p><%= @project.current_status&.html_safe %></p>
    </div>
  </div>

  <div class="mt-5">
    <div class="row">
      <div class="col">
        <h2 id="hodnotenie" class="mb-0">Hodnotenie<% if @project.redflags_count > 0 %> <strong class="text-danger"><%= @project.redflags_count %> &times; <%= fa_icon('flag', class: 'text-danger') %></strong><% end %></h2>
      </div>
      <div class="col text-right edit-link-holder">
        <%= link_to "https://platforma.slovensko.digital/t/#{@project.project_id}", title: 'Upraviť hodnotenie', class: 'btn btn-lg btn-link' do %>
          <%= fa_icon 'pencil' %> Upraviť
        <% end %>
      </div>
    </div>
    <hr class="mt-0 mb-2">
    <p class="text-right mb-5 mt-1">
      Posledná aktualizácia: <strong><%= l(@project.updated_at.to_date, format: :human) %></strong></strong>
    </p>
    <% if @project.outdated? %>
      <div class="alert alert-warning my-2" role="alert">
        <h5 class="alert-heading">Hodnotenie nie je aktuálne</h5>
        <p class="mb-0">
          V tomto projekte nastali zmeny, ktoré nie sú zahrnuté v súčasnom hodnotení. Na aktualizácii pracujeme, môžete sa do nej
          <%= link_to 'zapojiť aj Vy', "https://platforma.slovensko.digital/t/#{@project.project_id}", title: 'Upraviť hodnotenie', class: 'alert-link' %>.
        </p>
      </div>
    <% end %>
    <% @rating_types_by_phase.each do |rating_phase, rating_types| %>
      <div class="row mt-4 mb-1">
        <div class="col">
          <h5><%= rating_phase.name %></h5>
        </div>
      </div>
      <div class="row">
        <% rating_types.each do |rating_type| %>
          <% rating = @ratings_by_type[rating_type] %>
          <div class="col-md-3">
            <% if rating %>
              <%= rating_stars(rating) %>
              <p><%= rating_type.name %></p>
            <% else %>
              <div class="text-muted"><%= help_icon_if_blank(rating) %></div>
              <p class='text-muted'><%= rating_type.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <h2 class="mb-5">Detailné hodnotenie projektu</h2>
    <div id="detailed-rating">
      <%== formatted_body_html(@project.body_html) %>
    </div>
  </div>
</div>
