<div id="project-show" class="container main">
  <h1 class="mt-5"><%= @project.title %></h1>
  <div class="row mt-5">
    <div class="col-md-7">
      <h5>Názov</h5>
      <p class="mb-4"><%= @project.full_name %></p>

      <h5>Garant</h5>
      <p class="mb-4"><%= @project.guarantor %></p>

      <h5>Stručný opis</h5>
      <p class="mb-4"><%= @project.description %></p>

      <h5>Náklady na projekt</h5>
      <p class="mb-4"><%= @project.budget %></p>

      <h5>Aktuálny stav projektu</h5>
      <p class="mb-4"><%= @project.status %></p>
    </div>
    <div class="col-md-4 offset-md-1">
      <h5>Aktivity</h5>
      <div>
        <%= @project.activities_html.html_safe %>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h2>Hodnotenie</h2>
    <hr>
    <% @ranking_phases.each_with_index do |ranking_phase, index| %>
      <div class="row mt-4 mb-1">
        <div class="col">
          <h5><a href="#<%= Digest::MD5.hexdigest ranking_phase %>"><%= ranking_phase %></a></h5>
        </div>
      </div>
      <div class="row">
        <% @project.rankings.each do |ranking| %>
          <div class="col-md-3">
            <% if ranking.score %>
              <% ranking.score.times do |s| %><%= fa_icon 'star' %><% end %><% (4 - ranking.score).times do |s| %><%= fa_icon 'star-o' %><% end %>
              <p><%= ranking.name %></p>
            <% else %>
              <% 4.times do |s| %><%= fa_icon 'star-o', class: 'text-muted' %><% end %>
              <p class='text-muted'><%= ranking.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-5 detailed-ranking">
    <% @ranking_phases.each_with_index do |ranking_phase, index| %>
      <h3 class="mt-5 mb-3" id="<%= Digest::MD5.hexdigest ranking_phase %>"><%= ranking_phase %></h3>
      <% @project.rankings.each do |ranking| %>
        <% if ranking.score %>
          <h5>
            <%= ranking.name %>
            <% ranking.score.times do |s| %><%= fa_icon 'star' %><% end %><% (4 - ranking.score).times do |s| %><%= fa_icon 'star-o' %><% end %>
          </h5>
          <div class="full-description mb-5">
            <%= ranking.html.to_s.html_safe %>
          </div>
        <% else %>
          <h5 class="text-muted">
            <%= ranking.name %>
            <% 4.times do |s| %><%= fa_icon 'star-o' %><% end %>
          </h5>
          <div class="full-description mb-5">
            <p class="text-muted"><i>Zatiaľ bez hodnotenia.</i></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-5">
    <h2>Dokumenty</h2>
    <hr>
    <%= @project.documents_html.html_safe %>
  </div>
</div>
