<div id="landing">
  <div class="container">
    <div id="jumbotron">
      <div class="row">
        <div class="col-md-7">
          <span class="rating-known" style="font-size: 5rem;">
          <%= fa_icon('flag', class: 'text-danger') %>
            <%= fa_icon('flag-o', class: 'text-danger') %>
            <%= fa_icon('flag-o', class: 'text-danger') %>
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <h1>
            Štátne IT projekty<br>
            hodnotené odborníkmi
          </h1>
          <p class="lead">
            Otvorené a transparentné hodnotenie projektov informatizácie komunitou IT odborníkov.
          </p>
          <div class="mt-4">
            <%= link_to 'O projekte', about_path, class: 'btn btn-primary btn-lg mr-3 my-1' %>
            <%= link_to 'Zoznam projektov', projects_path, class: 'btn btn-outline-secondary btn-lg mr-3 my-1' %>
            <%= link_to 'Štátne IT v číslach', stats_path, class: 'btn btn-outline-secondary btn-lg my-1' %>
          </div>
        </div>
        <div class="col-md-5 text-center d-none d-lg-block">
          <span class="rating-known" style="font-size: 5rem;"><%= fa_icon('star') %> <%= fa_icon('star') %> <%= fa_icon('star') %> <%= fa_icon('star-o') %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mt-4 mx-auto">
          <h4 class="mb-4"><%= fa_icon 'thumbs-o-up', class: 'mr-2' %> Najlepšie hodnotené</h4>
          <table class="table table-sm toplist">
            <tbody>
              <% @good_projects.each_with_index do |project, index| %>
                <tr>
                  <th scope="row" class="pl-3"><%= index + 1 %></th>
                  <td><%= link_to project.revision.page.title, project_show_revision_type_path(project.project, project.revision.page.page_type) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-4 mx-auto">
          <h4 class="mb-4"><%= fa_icon 'thumbs-o-down', class: 'mr-2' %> Najhoršie hodnotené</h4>
          <table class="table table-sm toplist">
            <tbody>
            <% @bad_projects.each_with_index do |project, index| %>
              <tr>
                <th scope="row" class="pl-3"><%= index + 1 %></th>
                <td><%= link_to project.revision.page.title, project_show_revision_type_path(project.project, project.revision.page.page_type) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center my-5">
        <%= link_to 'Všetky projekty', projects_path, class: 'btn btn-lg btn-outline-light mt-3' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row my-5">
      <div class="col-md-8 mx-auto py-5">
        <h2 class="text-center mb-3">Čo je to Red Flags?</h2>
        <p class="lead">
          Red Flags je pokračovaním systematickej kontroly štátnych IT projektov občianskym združením Slovensko.Digital. Pozeráme sa na problematické oblasti projektov a verejným hodnotením vytvárame tlak na zlepšovanie ich kvality a výsledkov.
        </p>
        <div class="text-center my-2">
          <%= link_to 'Viac o projekte', about_path, class: 'btn btn btn-outline-primary' %>
        </div>
        <h2 class="text-center mt-5 mb-3">Ako hodnotíme</h2>
        <p class="lead">
          Projekty sú hodnotené pomocou sady kritérií, rovnakých pre každý projekt, pričom v každom kritériu je uvedené
          slovné a&nbsp;bodové hodnotenie
          od
          <span class="rating-known"><%= rating_stars(OpenStruct.new(score: 1)) %></span>
          po
          <span class="rating-known"><%= rating_stars(OpenStruct.new(score: 4)) %></span>. Zásadné problémy sú označené <span class="rating-known"><%= rating_stars(OpenStruct.new(score: 0)) %></span>. Hodnotenie môže navrhovať ktokoľvek, avšak pred finálnou publikáciou je schvaľované tímom Slovensko.Digital pod dohľadom poradnej komisie.
        </p>
        <div class="text-center my-2">
          <%= link_to 'Viac o hodnotení a poradnej komisii', about_rating_path, class: 'btn btn btn-outline-primary mt-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
