<div id="project-show" class="container main">

  <div class="row mb-3">
    <div class="col-md-12">
      <h1 class="project-title"><%= @project_info.title %></h1>
      <p class="lead text-muted mt-4"><%= @project_info.description %></p>
    </div>
  </div>
  
  <hr class="mt-0 mb-4">

  <div class="row mb-4">
    <div class="col">
      <div class="row">
        <div class="col">
          <h5 class="d-flex align-items-center">Garant
            <% if @project_info.guarantor.present? %>
              <%= image_tag origin_type_logo(@project_info.guarantor.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.guarantor.present? %>
            <p><%= @project_info.guarantor %></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedený</p>
          <% end %>
        </div>
        <div class="col">
          <h5 class="d-flex align-items-center">Projektový manažér
            <% if @project_info.project_manager.present? %>
              <%= image_tag origin_type_logo(@project_info.project_manager.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.project_manager.present? %>
            <p><%= @project_info.project_manager %></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedený</p>
          <% end %>
        </div>
        <div class="col-md-5">
          <h5 class="d-flex align-items-center">Investičné náklady
            <% if @project_info.investment.present? %>
              <%= image_tag origin_type_logo(@project_info.investment.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.investment.present? %>
              <p><%= number_to_currency(@project_info.investment, :unit => "€",  :separator => ",", :delimiter => " ", :format => "%n %u")%></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedené</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5 class="d-flex align-items-center">Zdroj financovania
            <% if @project_info.finance_source.present? %>
              <%= image_tag origin_type_logo(@project_info.finance_source.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.finance_source.present? %>
            <p><%= @project_info.finance_source %></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedený</p>
          <% end %>
        </div>
        <div class="col">
          <h5 class="d-flex align-items-center">Aktuálny stav
            <% if @project_info.status.present? %>
              <%= image_tag origin_type_logo(@project_info.status.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% elsif @project_info.phase.present? %>
                <%= image_tag origin_type_logo(@project_info.phase.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.finance_source.present? %>
              <p><%= @project_info.status %>, <%= @project_info.phase %></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedený</p>
          <% end %>
        </div>
        <div class="col-md-5">
          <h5 class="d-flex align-items-center">Ročné náklady
            <% if @project_info.operation.present? %>
              <%= image_tag origin_type_logo(@project_info.operation.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.operation.present? %>
              <p><%= number_to_currency(@project_info.operation, :unit => "€",  :separator => ",", :delimiter => " ", :format => "%n %u")%></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedené</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <h5 class="d-flex align-items-center">Dátum začiatku
              <% if @project_info.start_date.present? %>
                <%= image_tag origin_type_logo(@project_info.start_date.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
              <% end %>
            </h5>
            <% if @project_info.start_date.present? %>
                <p><%= @project_info.start_date&.strftime('%d.%m.%Y') %></p>
            <% else %>
              <p class="font-italic text-secondary">Neuvedený</p>
            <% end %>
        </div>
        <div class="col">
            <h5 class="d-flex align-items-center">Termín ukončenia
              <% if @project_info.end_date.present? %>
                <%= image_tag origin_type_logo(@project_info.end_date.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
              <% end %>
            </h5>
            <% if @project_info.end_date.present? %>
                <p><%= @project_info.end_date&.strftime('%d.%m.%Y') %></p>
            <% else %>
                <p class="font-italic text-secondary">Neuvedený</p>
            <% end %>
        </div>
        <div class="col-md-5">
          <h5 class="d-flex align-items-center">Schválené investičné náklady
            <% if @project_info.approved_investment.present? %>
              <%= image_tag origin_type_logo(@project_info.approved_investment.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.approved_investment.present? %>
              <p><%= number_to_currency(@project_info.approved_investment, :unit => "€",  :separator => ",", :delimiter => " ", :format => "%n %u")%></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedené</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>MetaIS <%= help_icon_if_blank(@project.code) %></h5>
          <%= link_to @project.code, "https://metais.vicepremier.gov.sk/detail/Projekt/#{@project.uuid}/cimaster?tab=basicForm", target: "_blank" %>
        </div>
        <div class="col">
            <h5 class="d-flex align-items-center">Posledná zmena
              <% if @project_info.updated_at.present? %>
                <%= image_tag origin_type_logo(@project_info.updated_at.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
              <% end %>
            </h5>
            <% if @project.updated_at.present? %>
                <p><%= @project.updated_at&.strftime('%d.%m.%Y') %></p>
            <% else %>
                <p class="font-italic text-secondary">Neuvedený</p>
            <% end %>
        </div>
        <div class="col-md-5">
          <h5 class="d-flex align-items-center">Schválené ročné náklady
            <% if @project_info.approved_operation.present? %>
              <%= image_tag origin_type_logo(@project_info.approved_operation.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %>
            <% end %>
          </h5>
          <% if @project_info.approved_operation.present? %>
              <p><%= number_to_currency(@project_info.approved_operation, :unit => "€",  :separator => ",", :delimiter => " ", :format => "%n %u")%></p>
          <% else %>
            <p class="font-italic text-secondary">Neuvedené</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @project.evaluations.present? %>
    <% @project.evaluations.each do |evaluation| %>
      <% if evaluation.phases.present? %>
        <% evaluation.phases.each do |phase| %>
          <% if phase.published_revision.present? %>
            <hr class="mt-0 mb-4">
            <% if phase.phase_type.name == 'Prípravná fáza' %>
              <h5><%= link_to 'Hodnotenie prípravnej fázy', project_show_revision_type_path(phase.project.id, 'hodnotenie-pripravy')%></h5>
            <% else %>
              <h5><%= link_to 'Hodnotenie fázy produkt', project_show_revision_type_path(phase.project.id, 'hodnotenie-produkt')%></h5>
            <% end %>
            <div class="row mb-4">
              <div class="col-md-12">
                <% if phase.published_revision.summary.present? %>
                  <div class="row mb-3">
                    <div class="col">
                      <h5>Zhrnutie hodnotenia Red Flags</h5>
                      <p class="mb-4"><%= phase.published_revision.summary %></p>
                    </div>
                  </div>
                <% end %>

                <% if phase.published_revision.recommendation.present? %>
                  <div class="card mb-4 text-white <%= phase.published_revision.redflags_count.zero? ? 'bg-secondary' : 'bg-danger' %>">
                    <div class="card-body">
                      <h5 class="card-title">Stanovisko Slovensko.Digital</h5>
                      <p class="card-text"><%= phase.published_revision.recommendation %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <hr class="mt-0 mb-4">

      <% if @project_info.targets_text.present? %>
        <div class="row mb-4">
          <div class="col-md-12">
            <h5 class="d-flex align-items-center">Ciele a merateľné ukazovatele
              <%= image_tag origin_type_logo(@project_info.targets_text.origin), style: "width: 18px; height: 18px; margin-left: 6px;" %>
            </h5>
            <%= convert_to_list(@project_info.targets_text) %>
          </div>
        </div>
      <% end %>
      
      <% if @assumption_events.any? || @real_events.any? %>
        <div class="row mb-4">
          <div class="col-md-12">
            <h5>Harmonogram</h5>
            <div class="row d-flex justify-content-center">
              <% if @assumption_events.any? %>
                <div class="col-md-6">
                  <div class="main-card mb-3 card mt-2" style="border: none;">
                    <p>Plánovaný priebeh projektu</p>
                    <div class="card-body">
                      <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                        <% @assumption_events.each do |event| %>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div>
                              <span class="vertical-timeline-element-icon bounce-in">
                                <i class="badge badge-dot badge-dot-xl badge-danger"></i>
                              </span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">
                                  <%= event.name %> <%= image_tag origin_type_logo(event.origin_type), style: "width: 12px; height: 12px;", class: 'mr-2' if event.origin_type.present? %>
                                </h4>
                                <p><%= event.value %></p>
                                <span class="vertical-timeline-element-date"><%= event.date.in_time_zone('Europe/Bratislava').strftime('%m/%Y') %></span>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
      
              <% if @real_events.any? %>
                <div class="col-md-6">
                  <div class="main-card mb-3 mt-2 card" style="border: none;">
                    <p>Reálny priebeh projektu</p>
                    <div class="card-body">
                      <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                        <% @real_events.each do |event| %>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div>
                              <span class="vertical-timeline-element-icon bounce-in">
                                <i class="badge badge-dot badge-dot-xl badge-danger"></i>
                              </span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">
                                  <%= event.name %> <%= image_tag origin_type_logo(event.origin_type), style: "width: 12px; height: 12px;", class: 'mr-2' if event.origin_type.present? %>
                                </h4>
                                <p><%= event.value %></p>
                                <span class="vertical-timeline-element-date"><%= event.date.in_time_zone('Europe/Bratislava').strftime('%m/%Y') %></span>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      
      <% if @project_info.supplier.present? || @all_suppliers.any? %>
        <div class="row mb-4">
          <div class="col-md-12">
            <h5>Dodávateľ projektu</h5>
            <% if @project_info.supplier.present? %>
              <p><b>Dodávateľ:</b> <a href="https://www.finstat.sk/<%= @project_info.supplier_cin %>"><%= @project_info.supplier %></a> <%= image_tag origin_type_logo(@project_info.supplier.origin), style: "width: 16px; height: 16px; margin-left: 6px;" %></p>
            <% end %>
            <% if @all_suppliers.any? %>
              <ul>
                <% @all_suppliers.each do |supplier| %>
                  <b><%= case supplier.supplier_type&.name
                        when "CRZ"
                          "Dodávateľská zmlúva"
                        when "NFP"
                          "Zmlúva o NFP"
                        when "VO"
                          "Verejné obstarávanie"
                        else
                          supplier.supplier_type&.name
                        end %></b>
                  <li>
                    <%= image_tag origin_type_logo(supplier.origin_type), style: "width: 12px; height: 12px;" if supplier.origin_type.present? %>
                    <%= link_to supplier.name, supplier.value %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <% if @project_info.documents_text.present? || @documents_grouped_by_description.any? %>
        <div class="row mb-4">
          <div class="col-md-12">
            <h5>Dokumenty</h5>
            <% if @project_info.documents_text.present? %>
              <p><%= @project_info.documents_text %></p>
            <% end %>
            <% if @documents_grouped_by_description.any? %>
              <% @documents_grouped_by_description.each do |description, documents| %>
                <p class="mb-0"><%= description %></p>
                <ul>
                  <% documents.each do |doc| %>
                    <li>
                      <%= image_tag origin_type_logo(doc.origin_type), style: "width: 12px; height: 12px;" if doc.origin_type.present? %>
                      <%= link_to doc.name, doc.value %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <% if @project_info.links_text.present? || @all_links.any? %>
        <div class="row mb-4">
          <div class="col-md-12">
            <h5>Linky</h5>
            <% if @project_info.links_text.present? %>
              <p><%= @project_info.links_text %></p>
            <% end %>
            <% if @all_links.any? %>
              <ul>
                <% @all_links.each do |link| %>
                  <li>
                    <%= image_tag origin_type_logo(link.origin_type), style: "width: 12px; height: 12px;" if link.origin_type.present? %>
                    <%= link_to link.name, link.value %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>

</div>
