<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:title) %><%= yield(:title) %><% else %>Red Flags &middot; Slovensko.Digital<% end %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm mb-3" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag 'temp_logo.svg', width: '240' %>
        </a>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <address>
              <a href="https://slovensko.digital/"><strong>Slovensko.Digital</strong></a><br>
              Staré grunty 12<br>
              841 04 Bratislava<br>
            </address>
            <p><a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></p>
          </div>

          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>
                <strong>Projekt finančne podporili:</strong>
              </li>
              <li><a href="http://www.nadaciapontis.sk/">Fond pre transparentné Slovensko v Nadácii Pontis</a></li>
              <li><a href="https://sk.usembassy.gov/sk/">Veľvyslanectvo USA na Slovensku</a></li>
            </ul>
            <div class="my-5 pt-3">
              <label for="subscribe-email"><strong>Novinky mailom</strong></label><br>
              <form id="newsletter-form" role="form" action="https://my.sendinblue.com/users/subscribe/js_id/29wti/id/1" data-action="https://my.sendinblue.com/users/subscribeembed/js_id/29wti/id/1" method="post">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="hidden" name="js_id" id="js_id" value="29wti">
                      <input type="hidden" name="listid" id="listid" value="2|5">
                      <input type="hidden" name="from_url" id="from_url" value="yes">
                      <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
                      <input type="email" required="" name="email" placeholder="Zadajte emailovú adresu" class="subscribe-email form-control" id="subscribe-email">
                    </div>
                  </div>
                  <div class="col-md-3 pl-md-0">
                    <button type="submit" class="btn btn-primary btn-block">Prihlásiť</button>
                  </div>
                </div>
              </form>
              <div id="newsletter-success" class="hidden">
                <p>
                  <strong>Ďakujeme za Váš záujem.</strong></br>
                  Na zadanú adresu Vám čoskoro príde potvrdzovací email k odberu noviniek.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <p class="md-pull-right icons">
              <a href="https://www.facebook.com/slovensko.digital/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://github.com/slovensko-digital/redflags.slovensko.digital" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
