<!DOCTYPE html>
<html>
  <head>
    <title><% if content_for?(:title) %><%= yield(:title) %><% else %>Red Flags &middot; Slovensko.Digital<% end %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Red Flags Slovensko.Digital"/>
    <meta property="og:url" content="<%= @metadata.og.url %>"/>
    <meta property="og:title" content="<%= @metadata.og.title %>"/>
    <meta property="og:description" content="<%= @metadata.og.description %>"/>
    <meta property="og:image" content="<%= @metadata.og.image %>"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag 'temp_logo.svg', width: '200' %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Ukázať/skryť navigáciu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
          <ul class="navbar-nav ml-auto pt-1">
            <li class="nav-item <%= "active" if current_page?(projects_path) %>">
              <%= link_to 'Projekty', projects_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= "active" if current_page?(about_path) %>">
              <%= link_to 'Čo je Red Flags', about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= "active" if current_page?(contribute_path) %>">
              <%= link_to 'Ako sa zapojiť', contribute_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= "active" if current_page?(committee_path) %>">
              <%= link_to 'Hodnotiaca komisia', committee_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= "active" if current_page?(faq_path) %>">
              <%= link_to 'Často kladené otázky', faq_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr class="mt-0">
    <%= yield %>
    <footer class="footer py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <address>
              <a href="https://slovensko.digital/"><strong>Slovensko.Digital</strong></a><br>
              Staré grunty 12<br>
              841 04 Bratislava<br>
            </address>
            <p><a href="mailto:kontakt@slovensko.digital">kontakt@slovensko.digital</a></p>
          </div>

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">
                <strong>Heading 1</strong></a>
              </li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><a href="#"><strong>Heading 2</strong></a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <p class="pull-right icons">
              <a href="https://www.facebook.com/slovensko.digital/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span></a>
              <a href="https://github.com/slovensko-digital/ekosystem" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span></a>
              <a href="https://www.youtube.com/channel/UCbpnKa1XOIpQLYUQ2dz7Sng" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span></a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
